.App {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  font-family: "Lexend", sans-serif;
  background-color: #8ef6e4;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  background-color: #fff;
  margin: 50px auto;
  border-radius: 15px;
  width: 100%;
}

.col-8 {
  padding-right: 0;
}
