.weather-description {
  font-size: 20px;
}

.city-name {
  font-size: 19px;
  font-weight: 400;
  color: #005d6c;
}

.last-update {
  font-size: 12px;
}

.current-temperature {
  font-size: 40px;
}
.wind-humidity-icon {
  width: 20px;
}

@media all and (min-width: 600px) {
  .city-name {
    color: #ba53de;
  }
}

@media all and (min-width: 1200px) {
  .weather-description {
    font-size: 30px;
  }
  .city-name {
    color: #ff165d;
    font-size: 25px;
  }

  .last-update {
    font-size: 15px;
  }

  .wind-humidity-icon {
    width: 30px;
  }
}
