footer {
  color: #757575;
  text-align: right;
  font-size: 16px;
  padding-top: 45px;
  font-style: italic;
  padding-bottom: 10px;
  padding-right: 10px;
}

.footer-link,
.fa-heart {
  color: #e62a76;
}

.footer-link:hover {
  color: #ff165d;
  text-decoration: underline;
}

.Heart {
  position: relative;
  top: 41px;
  right: -34px;
}

.Reference {
  position: relative;
  right: -63px;
}

@media all and (min-width: 1200px) {
  footer {
    font-size: 18px;
    color: #212121;
    padding-bottom: 25px;
    padding-right: 25px;
  }
}
