.Weather {
  color: #212121;
}

.row {
  max-width: 400px;
  margin: 0 auto;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.form-control {
  border: 1px solid #212121;
  overflow: scroll;
}
form {
  padding-bottom: 30px;
}

@media all and (min-width: 1200px) {
  form {
    padding-bottom: 60px;
    padding-top: 30px;
  }
}
